/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    font-family: Arial, sans-serif;
}

.clock {
    position: relative;
    width: 350px;
    height: 350px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #000;

}

.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #fff;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}

.hour {
    margin: 0 0 0 15px;
    height: 4px;
}

.minute {

    height: 4px;
}

.second {
    height: 4px;
    width: 50%;
    background-color: red;
}

.center {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}